@using Proyecto_INGYSA_MVC_2021.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/forms.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/forms_desktop.css" media="screen and (min-width: 530px)">
</head>

<main class="main">

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            
            @Html.AntiForgeryToken()

            <div id="loginForm" class="container-form">

                <div class="container-form__div--title">
                    <h2 class="container-form__title">@ViewBag.Title</h2>
                </div>
                <label class="container-form__label">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </label>
                <label class="container-form__label"></label>

                <label class="container-form__label">
                    <span class="container-form__label--name">Nombre de Usuario: </span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "container-form__label--input" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </label>

                <label class="container-form__label">
                    <span class="container-form__label--name">Contraseña: </span>
                    @Html.TextBoxFor(m => m.Password, new { @class = "container-form__label--input", @type = "password", autocomplete = "on"})
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </label>

                <label class="container-form__label">
                    <span class="container-form__label--name">¿Recordar cuenta? </span>
                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "container-form__label--checkBox" })
                </label>
                <label class="container-form__label"></label>
                
                <input type="submit" value="Iniciar sesión" class="container-form__label--button" />
                @Html.ActionLink("Registrarse", "Register", null, new { @class = "container-form__label--anchor container-form__label--button" })
                @* Habilite esta opción una vez tenga la confirmación de la cuenta habilitada para la funcionalidad de restablecimiento de contraseña
                    <p>
                        @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword")
                    </p>*@
            </div>
        }
        @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}