@model Proyecto_INGYSA_MVC_2021.Areas.PERSONAS.Data.MVVM.EstudianteVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create", "", new { htmlAttributes = new { @class = "btn btn-primary" } })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante.ApellidoP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante.ApellidoM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante.TipoSangre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante.RH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante.Estado)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.estudiantes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoSangre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PersonaId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PersonaId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PersonaId })
                </td>
            </tr>
        }

    </table>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HistoricoDocumentoPersona.TipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoricoDocumentoPersona.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoricoDocumentoPersona.FechaExpedicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoricoDocumentoPersona.Estado)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.HistoricoDocumentoPersonas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaExpedicion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PersonaId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PersonaId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PersonaId })
                </td>
            </tr>
        }

    </table>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HistoricoTelefonoPersona.TiposTelefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoricoTelefonoPersona.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoricoTelefonoPersona.Estado)
            </th>
            <th>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.HistoricoTelefonoPersonas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TiposTelefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PersonaId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PersonaId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PersonaId })
                </td>
            </tr>
        }

    </table>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HistoricoPersonaDireccion.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistoricoPersonaDireccion.Estado)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model.HistoricoPersonaDireccions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PersonaId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PersonaId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PersonaId })
                </td>
            </tr>
        }

    </table>
</main>
