@model Proyecto_INGYSA_MVC_2021.Areas.PERSONAS.Data.Persona

@{
    ViewBag.Title = "DETALLES DEL DOCENTE";
}

<main>
    <h2>Details</h2>

    <div>
        <h4>Persona</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombres)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombres)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApellidoP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApellidoP)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApellidoM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApellidoM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaNacimiento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Genero)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genero)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipoSangre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoSangre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RH)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RH)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PersonaId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</main>
