@model Proyecto_INGYSA_MVC_2021.Areas.PERSONAS.Data.MVVM.DocenteVM

@{
    ViewBag.Title = "INICIO DOCENTE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create", "", new { htmlAttributes = new { @class = "btn btn-primary" } })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Docente.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docente.ApellidoP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docente.ApellidoM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docente.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docente.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docente.TipoSangre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docente.RH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docente.Estado)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model.docentes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoSangre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PersonaId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PersonaId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PersonaId })
                </td>
            </tr>
        }

    </table>

</main>
